---
title: prototype
---

.row-fluid
  .span12
    %h1.text-center D3 Generator
.row-fluid
  .span12
    %button.btn.btn-info.btn-lg.btn-block Select Your hope
.row-fluid
  .span12.graph

:css
    .bar {
        fill: steelblue;
    }
 
    .bar:hover {
        fill: brown;
    }
 
    .axis {
        font: 10px sans-serif;
    }
 
    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }
 
    .x.axis path {
        display: none;
    }
