.row
  .span12
    %h1.text-center D3 Generator
.row
  .span12
    %button.btn.btn-info.btn-lg.btn-block Select Your hope
.row
  .span12.graph
.row
  .span12.source-tab
    %ul.tabs
      %li#tab1.tab.active<
        %a{:href => "#cont1"} javascript
      %li#tab2.tab<
        %a{:href => "#cont2"} HTML
      %li#tab3.tab<
        %a{:href => "#cont3"} CSS
.row
  .span12.source
    .panels
      %pre
        #cont1.panel
          コンテンツ1
        #cont2.panel
          コンテンツ2
          コンテンツ2
        #cont3.panel
          コンテンツ3
          コンテンツ3
          コンテンツ3
